
body{
    margin:0;
    font-family: "Roboto", sans-serif;
    background: rgb(14, 14, 14);
    
}

.navbar{
     display: flex;
    flex-flow: row wrap;
    background:rgb(8, 8, 8);
    height: 100px;
    justify-content: center;
    align-items: center;
    position: fixed;
    width: 100%;
}

.logo{
    flex: 20%;
    text-align: left;
    margin-left: 10%;
    margin-left: 10px;
}

.logo h1{    
    color: #2a1a89;
    margin-right: 50px;
    font-size: 34px ;
    font-family:"Lobster", sans-serif ;
}

.menu{
 flex: 70%; 
text-align: right;
padding: 20px;
}

.menu a{

    color:#2a1a89;
    text-decoration: none;
    font-size: 20px;
    padding: 20px 16px;
}

.menu a:hover{
    color: #f4eef0;
    border-top: 4px solid #180F4A;
    font-size: 25px;
}

#botao{
    background: #180F4A;
    padding: 10px 25px;
    color: white;
    border-radius: 5px;
    margin-right: 10%;
    margin-left: 5%;
}
#botao:hover{
    background: white;
    color: #2a1a89;
}

.header{
    display: flex;
     flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  background: rgb(144, 143, 143);
    padding-top: 150px;
    height: auto;
    
}
#hm{
    text-decoration: none;
    margin-left: 5px;
    padding: 10px;
    font-size: 15;
    box-shadow: 5px 8px 15px rgb(18, 2, 100);
    background: rgb(64, 48, 241);
    color: white;
    border-radius: 10px;
}
#whats{
    margin-left: 10px;
    padding: 5px;
    background: #011271;
    color: white;
    border-radius: 5px;
    font-size: 14;
    border: none;
}



.headline{
    flex: 40%;
    margin-left: 10% ;
  }

.headline h2{

    font-weight: 600px;
    font-size: 20px;
    color: #180F4A;
    padding: 0;
    margin: 0;

}
.headline p{
    color: rgb(13, 13, 13);
    text-align: left;
    
}


.img-headline{
    margin-right: 10%;
    flex: 40%;
    text-align:center ;
    
 }



 .ensino{
    display: flex;
    margin-top: 30px;
    display: inline-block;

    height: 200px;
    width: 400px;
    border-radius: 10px;
    text-align: left;
    overflow-wrap: break-word;
 }
 .ensino h3{
    color: #011271;
    font-family:fantasy;
 }
 
 .ensino ul{
    
    color: rgb(7, 7, 7);
   
    
 }